body {

        font-family: 'garamond-premier-pro-display';
        margin: 18% 12% 0 12%;
        font-size: 0;

      }

      .wrapper {

        /*background-color: #eee;*/

      }

      .image {

        /*background-color: #ddd;*/
        display: inline-block;
        width: 100%;
        vertical-align: top;
        margin: 0 0 12% 0;


      }

      .paragraph {

        vertical-align: top;
        /*background-color: #ccc;*/
        display: inline-block;
        width: 100%;
        margin: 0;

        font: 100 normal 18px/1.67 'garamond-premier-pro-display';
        letter-spacing: 0.01em;
        word-spacing: .075em;

      }

      img {

        border-radius: 100%;
        height: 50%;
        width: 50%;


      }

      strong {

        font-weight: 100;
        font-variant: small-caps;
        letter-spacing: 0.05em;
        border-bottom: 1px solid #eee;

      }

      em {

        font-weight: 500;

      }

      a {

        /*border-bottom: 1px solid #eee;*/
        font-style: italic;
        text-decoration: none;
        color: #000;
        letter-spacing: .05em;

      }

      /* */
      @media (min-width: 650px) {

        .image {

          width: 37.5%;

        }

        .paragraph {

          width: 62.5%;

        }

        img {

          height: 50%;
          width: 50%;

        }

      }
