h1 {
margin: -.36364em 0 1.13636em;
font-family: garamond-premier-pro-display,Times,serif;
font-size: 40px;
line-height: 1.36364em;
text-rendering: optimizeLegibility;
text-indent: 33.333%;
text-align: justify;
word-break: break-all;
word-break: break-word;
}
